@charset "UTF-8";

@media screen and (min-width: 700px) {
    .menu{
        display: block;
        background-color: #272727;
        float:right;
        border: none;
        margin-bottom: 35px;
    }

    #menu {
        display: none;
    }
    
    .ul, .li{
        margin:0;
        padding:0;
        list-style:none;
    }
    .li{
        float:left;
        padding-top: 39px;
        padding-right: 10px;
        line-height: 20px;
        font-size: 14px;
        cursor:pointer;
    }

    header > menu > ul > li > a {
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 35px;
    }

    header > menu > ul > li > a:hover {
        text-decoration: none;
        border-bottom: 3px solid rgb(14, 185, 23);
        border-radius: 2px;
    }

    div.mg {
        padding-top: 30px;
        padding-left: 10px;
        margin: auto;
        display: block;
        height: 500px;
        width: 1000px;
    }

    div.mg > div.esquerda > h1 {
        float: left;
        margin-top: 157px;
    }

    div.mg > div.esquerda {
        padding-left: 0px;
        position: absolute;
        float: left;
        height: 450px;
    }

    div.mg > div.direita {
        background-image: image-set("../imagens/capa-grande.png");
        background-position: right center;
        float: right;
        width: 660px;
        margin-top: 0px;
        padding-right: 300px;
        height: 450px;
    }
}

/* I SAW HER STADING THERE - The Beatles */