@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
}

:root {
    --font: Arial, Helvetica, sans-serif;
}

body {
    background-color: #292929;
    font-family: "Outfit", sans-serif;
}

header {
    background-color: #272727;
    font-family: var(--font);
}

header > img {
    width: 200px;
    height: 90px;
}

#menu { /*Ãcone Menu Hamburguinho*/
    float: right;
    padding-top: 35px;
    padding-right: 20px;
}

.menu{
    display: none;
    background-color: #272727;
    float:right;
    border-bottom: 1px solid #353535;
}

.ul, .li{
    margin:0;
    padding:0;
    list-style:none;
}
.li{
    float:left;
    padding-left:10px;
    padding-right:20px;
    line-height: 20px;
    font-size: 14px;
    cursor:pointer;
}

header > menu > ul > li > a {
    text-decoration: none;
}

header > menu > ul > li > a:hover {
    text-decoration: underline;
}

div.mg {
    padding-top: 30px;
    padding-left: 10px;
    margin: auto;
    display: block;
    height: 300px;
    width: 415px;
}

div.mg > div.esquerda > h1 {
    padding-top: 15px;
    margin-top: 195px;
    margin-bottom: 7px;
    font-size: 40px;
}

div.mg > div.esquerda {
    position: absolute;
    float: left;
}

div.esquerda > a.botao1 {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    background-color: rgba(14, 185, 23, 0.692);
    border-radius: 6px;
    text-decoration: none;
}

div.mg > div.direita {
    background-image: image-set("../imagens/capa-pequena.jpg");
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 386px;
    height: 200px;
}

footer {
    background-color: #272727;
}