@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #272727;
}

header > img {
    width: 200px;
    height: 90px;
}

.menu{
    background-color: #272727;
    float:right;
}

.ul, .li{
    margin:0;
    padding:0;
    list-style:none;
}
.li{
    float:left;
    padding-left:10px;
    padding-right:20px;
    padding-top: 39px;
    line-height: 20px;
    font-size: 14px;
    cursor:pointer;
}

header > menu > ul > li > a {
    color: white;
    text-decoration: none;
}

header > menu > ul > li > a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
}
footer {
    background-color: #272727;
    color: white;
}