@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #292929;
}

header {
    background-color: #272727;
}

header > img {
    width: 200px;
    height: 90px;
}

#menu { /*Ãcone Menu Hamburguinho*/
    float: right;
    padding-top: 35px;
    padding-right: 20px;
}

.menu{
    display: none;
    background-color: #272727;
    float:right;
    border-bottom: 1px solid #353535;
}

.ul, .li{
    margin:0;
    padding:0;
    list-style:none;
}
.li{
    float:left;
    padding-left:10px;
    padding-right:20px;
    line-height: 20px;
    font-size: 14px;
    cursor:pointer;
}

header > menu > ul > li > a {
    text-decoration: none;
}

header > menu > ul > li > a:hover {
    text-decoration: underline;
}

div.mg {
    padding-top: 30px;
    padding-left: 10px;
    margin: auto;
    display: block;
    height: 300px;
    width: 415px;
}

div.mg > div.esquerda > h1 {
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 40px;
}

div.mg > div.esquerda {
    /*padding-left: 100px;*/
    position: relative;
    float: left;
}

div.esquerda > a.botao1 {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
    background-color: rgba(14, 185, 23, 0.692);
    border-radius: 5px;
    text-decoration: none;
}

div.mg > div.direita {
    background-color: #464646;
    margin-top: 280px;
    width: 385px;
    height: 200px;
}

footer {
    background-color: #272727;
}